.Explore-item {
  max-width: 280px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style:normal;
  text-transform: uppercase;

}

.Explore-item a {
  display: block;
  color: #F44336;
  width: 100%;
  line-height: 50px;
  height: 50px;
  border: 1px solid #F44336;
  border-radius: 3px;
  background-color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out
}

.Explore-icon path {
  transition: fill 0.2s ease-in-out;
  fill: #F44336;
}

.Explore-item a:hover {
  color: white;
  background-color: #F44336
}
.Explore-item a:hover path {
  fill: white;
}

.Explore-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 6px;
}


.Explore-enter {
  opacity: 0;
}

.Explore-enter.Explore-enter-active {
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.Explore-leave {
  opacity: 0;

}

.Explore-leave.Explore-leave-active {
  opacity: 1;
  transition: all 250ms ease-in-out;
}
