.Results-item {
  width: 80%;
  padding: 20px;
  margin: auto;
  color: white;
  font-size: 1.5em;
  padding: 20px 10px;
  background-color: #302c50;
  border-radius: 3px;
  font-style:normal;
  text-transform: none;
}


.Results-enter {
  opacity: 0;
}

.Results-enter.Results-enter-active {
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.Results-leave {
  opacity: 0;

}

.Results-leave.Results-leave-active {
  opacity: 1;
  transition: all 250ms ease-in-out;
}


@medai (max-width: 768px) {
  .Results-item {
    max-width: 90%;
  }
}
