.About {
  text-align: left;
  padding: 25px 15px 80px 15px;
  height: 100%;
  overflow: auto;
}

.About a {
  color: #F44336;
  text-decoration: none;
}

.About-event-table table {
  margin-bottom: 50px;
  width: 100%;
}

.About-event-table tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

.About-event-table th {
  font-size: 1em;
  font-weight: 800;
  font-style:italic
}

.About-event-table td,
.About-event-table th {
  padding: 15px;
}


@media (min-width:1024px) {

  .About {
    width: 100%;
    padding: 0;
    overflow: auto;
    height: calc(100% - 80px);
  }

  .About-inner {
    width:800px;
    margin: auto;
  }

  .About-event-table th {
    font-size: 1.25em;
    font-weight: 800;
  }

}
