<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Crowdsourcing the answer to 'Hey, what's that sound?'">
    <meta name="author" content="Matthew Oden Potter">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pathway+Gothic+One" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <title>Gunshots or Fireworks?</title>
  </head>

  <body>
    <div id="root"></div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
