.Navigation {
  font-size: 1.5em;
  padding-top: 20px;
  height: 61px;
}

.Navigation-menu {
  position: absolute;
  background-color: white;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 200;
  transition: left 250ms ease-in-out;
  top: 82px;
}

.Navigation-menu-show {
  left: 0%;
}

.Navigation-brand {
  display: inline-block;
  text-align: center;
  font-style: italic;
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  padding-top: 5px;
  float: left;
}

.Navigation-menu-header {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.Navigation-menu-button {
  cursor: pointer;
  float: left;
}

.Navigation-menu-icon  {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 5px;
  margin: 0 10px;
  position: relative;
}

.Navigation-menu-icon path {
  fill: #222;
}

.Navigation-item  {
  padding: 15px 15px 15px 49px;
  border-bottom: 1px solid #ddd;
  font-style: italic;
  display: block;
  text-decoration: none;
  color: inherit;
}

.Navigation-twitter-icon {
  width:29px;
  height: 29px;
}

.Navigation-twitter-icon path {
  fill: #222;

}

.Navigation-item:last-child {
  border-bottom: 0px;
}




@media (min-width: 1024px) {
  .Navigation {
    display: block;
    position: relative;
    padding: 20px 25px 0 25px;
    color: #86849a;
    width: 100%;
  }

  .Navigation-brand {
    min-width: 300px;
    text-align: left;
  }

  .Navigation-item {
    padding: 0 15px;
    border: none;
  }

  .Navigation-item:hover,
  .Navigation-brand:hover {
    color: #6b697b
  }

  .Navigation-menu-icon {
    display: none;
  }

  .Navigation-menu {
    left: auto;
    top: 5px;
    float: right;
    width: auto;
    border-bottom: 0;
    position: relative;
    display: inline-block;
    background-color: transparent;
  }

  .Navigation-item {
    display: inline-block;
    float: left;
  }

  .Navigation-menu-header {
    border-bottom: 0;
    display: inline-block;
    float: left;
    width: auto;
  }


  .Navigation-twitter-icon path {
    fill: #86849a;
  }

  .Navigation-twitter-icon:hover path {
    fill: #6b697b;
  }

  .Navigation-left {
    margin-right:auto;
  }
}
