body {
  margin: 0;
  padding: 0;

}

/*
  Basic Flexbox Layout
*/
body {
  overflow: hidden;
}

html,
body,
#root,
.App {
  height: 100%; /* needed for proper layout */
}

.App {
  display: flex;
  flex-direction: column;
}


.desktop-only {
  display:none;
}

.Header {
  flex: 0 0 auto;
}

.Main {
  display: flex;
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  flex-direction: row;

}

.Footer {
  flex: 0 0 auto;
}

/*
  Type
*/

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #302c50;
  background: white;

}

h1, h2, h3, h4, h5 {
  font-family: 'Pathway Gothic One', sans-serif;
}

@media (min-width:1024px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display:block;
  }

}
