body {
  margin: 0;
  padding: 0;

}

/*
  Basic Flexbox Layout
*/
body {
  overflow: hidden;
}

html,
body,
#root,
.App {
  height: 100%; /* needed for proper layout */
}

.App {
  height: 100%;
}

.Main {
  height: calc(100% - 81px)
}


.desktop-only {
  display:none;
}




/*
  Type
*/

body {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: #302c50;
  background: white;

}

h1, h2, h3, h4, h5 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

@media (min-width:1024px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display:block;
  }

}
